In [1]:
import pandas as pd
import numpy as np
from lightgbm import LGBMClassifier
from joblib import load
from itertools import combinations

SEED = 2021

from model_prediction import generate_prediction
from config import THRESHOLD, MAX_RANKS, FEATURES

In [2]:
# Load Data 
input_df = pd.read_csv('data_interview_test.csv', sep=':')

In [3]:
preds = generate_prediction(data = input_df, threshold=THRESHOLD, max_ranks=MAX_RANKS, features=FEATURES)

In [4]:
preds.head()

,receipt_id,company_id,matched_transaction_id,feature_transaction_id,DateMappingMatch,AmountMappingMatch,DescriptionMatch,DifferentPredictedTime,TimeMappingMatch,PredictedNameMatch,ShortNameMatch,DifferentPredictedDate,PredictedAmountMatch,PredictedTimeCloseMatch,pred_prob_rank
0,10000,10000,10468,10000,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,10000,10000,10468,10001,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,10000,10000,10468,10003,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,10000,10000,10468,10004,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,10000,10000,10468,10005,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [5]:
pd.pivot_table(preds, index = ['company_id'] , values = 'receipt_id', columns = 'pred_prob_rank', 
               aggfunc='count', fill_value=0)

pred_prob_rank  0.0   1.0   2.0   3.0   4.0   5.0   99.0
company_id
10000           1827   335   125    48    11     0     5
20000           1983   197   143    43     8     1     0
30000           3985   501   311    87    33     2     7
40000            715   183    74    21     5     1     0
50000            964   234   148    20     7    10     0